$blue:#003459;
$sky-blue:#0078CD;
$normal-blue:#00528C;
$dark-blue:#002A48;
$yellow:#F7DBA7;
$light-yellow: #FCEED5;
$normal-yellow:#F1D092;
$dark-yellow:#EEC77E;
$normal-100:#00171F;
$normal-80:#242B33;
$normal-60:#667479;
$normal-40:#99A2A5;
$normal-20:#CCD1D2;
$normal-10:#EBEEEF;
$normal-00:#FDFDFD;
$red:#FF564F;
$green:#34C759;
$orange:#FF912C;
$sea-blue:#00A7E7;




