
.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color:black;
    z-index: 999;
    display: grid;
    place-items: center;
    opacity: 0;
    visibility:hidden;
    animation: load 3s linear 1;

    .box-loader{
        width: 80px;
        position: relative;

        span{
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: rgb(38, 0, 255);
            color: white;
            position: absolute;
            top: 0;
            left: 0;
        }
        .spin1{
            left: 0px;
            animation: anime 1s linear -0.3s  infinite;
        }
        .spin2{
            left: 34px;
            animation: anime 1s linear  -0.2s infinite;
        }
        .spin3{
            left:68px;
            animation: anime 1s linear  -0.1s infinite;
        }
    }
}
@keyframes anime{
    100%{
        top: 30px;
    }
}
@keyframes load{
    0%, 99%{
        opacity: 1;
        visibility: visible;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}