.third{
    .containerrr{
        width: 1200px;
        margin: 0 auto;
        display: flex;
        gap: 130px;
        background-color: $blue;
        border-radius: 15px;
        position: relative;
        z-index: -2;
       ;

    }
    .third1{
        width: 465px;
        
    }

    .orqa-qismi{
        position: absolute;
        bottom: 0;
        z-index: -1;
    }

    .yon-qismi{
        position: absolute;
        z-index: -1;
        right: 0
        ;
    }

    .third-img{
        // position: relative;
    }
}